*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.nav {
    width: Fixed (1,440px)px;
    height: 80px;
    padding: 12px 120px 12px 120px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    justify: space-between;
    opacity: 0px;
    border-bottom: 1px solid rgba(58, 53, 65, 0.12)
}

.container {
    text-align: center;
    border: 0.1px solid rgb(218, 218, 218);
    width: 500px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.videobelajar{
    justify-content: left;
    align-items: center;
    width: 30vw;
    color: rgba(255, 189, 58, 1);
}

.masukakun {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Yuk {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email {
    text-align: left;
}

.emailkiri {
    display: inline-block;
    text-align: left;
}

input[type="text"],
input[type="password"],
textarea {
    width: 260%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

.password {
    text-align: left;
}

.passwordkiri {
    display: inline-block;
    text-align: left;
}

.lupapassword {
    
    text-align: right;
}

.masuk {
    font-size: larger;
    text-align: center;
    color: #fff;
    background-color:#28a745;
    text-decoration: none;
}

.daftar {
    font-size: larger;
    text-align: center;
    color: #28a745;
    background-color:#f2f7f2;
    text-decoration: none;
}

.atau {
    text-align: center;
}

.masukgoogle {
    text-align: center;
}